<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.responde">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/respondelogosquare"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/respondelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Responde">
        <activity
            android:name=".whattodo_before"
            android:exported="true" />
        <activity
            android:name=".TermsandAgreement"
            android:exported="true" />
        <activity
            android:name=".During_UI"
            android:exported="true" />
        <activity
            android:name=".after_UI"
            android:exported="true" />
        <activity
            android:name=".beforeUI"
            android:exported="true" />
        <activity
            android:name=".welcomelastpage"
            android:exported="true" />
        <activity
            android:name=".welcomereviewcontactlist"
            android:exported="true" />
        <activity
            android:name=".welcomeaddcontact"
            android:exported="true" />
        <activity
            android:name=".welcomecontactintro"
            android:exported="true" />
        <activity
            android:name=".welcome_profile"
            android:exported="true" />
        <activity
            android:name=".welcomepage"
            android:exported="true" />
        <activity
            android:name=".Contacts"
            android:exported="true" />
        <activity
            android:name=".Whattodo"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".my_location"
            android:exported="true" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homepage"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>